# API keys
.env

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# Mac
.DS_Store

# DB vectors
chroma_db/
chromadb_text/
chromadb_context/

# documents
documents/

#json files
.json